body {
    margin: 0;
    padding: 0;
}

.Section {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.Section-title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
